@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body{
font-family: 'Raleway', sans-serif;
}

:root{
  --primary-color: #3730A3;
  --secondary-color: #312E81;
}

.navi{
  font-family: 'MedievalSharp', cursive;
  color: var(--primary-color)
}

.container{
 max-width: 750px;
 margin: auto;
 text-align: center;
 margin-top: 2rem;
}

#txt-input{
  font-size: 17px;
  text-align: center;
  display: block;
  height: 15vh;
  max-width: 500px;
  border: 2px solid;
}

.avatar-img{
  border: 3px solid  var(--primary-color);
}
#human-img{
  border: 2px solid;
}
#output{
  display: block;
  margin: auto;
  border-style: double;
  border-color: black;
  height: 15vh;
  width: 450px;
  color: var(--primary-color);
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  font-size: 20px;
  background-color: white;
}
#btn-translate{
  background-color: var(--primary-color);
  border-radius: 1rem;
  border-color: var(--secondary-color);
  color: white;
  display: block;
  font-size: 20px;
  margin: auto;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
}
